$height: 16.5rem;
.itemVideo {
  width: 100%;
  height: $height;
  min-width: 200px;
  box-sizing: border-box;
  background-color: black;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 0 11px #ececec;
  &__video {
    width: 100%;
    height: ($height - 5.2rem);
    object-fit: contain;
    position: relative;
  }
  &__info {
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5.2rem;
    padding: 12px;
  }
}
