.containerAddExchange {
  .exchangeRateCreateExchange {
    display: none;
  }
  .formDataAdd {
    .bx--label {
      font : {
        size: 14px;
        weight: 600;
      }
    }
    .bx--text-input {
      color: #000;
      background-color: #fff;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      &:focus {
        outline: none;
      }
    }
    input:-webkit-autofill,
    input:focus:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 100px #fff inset;
      box-shadow: 0 0 0 100px #fff inset;
    }
    &__row {
      display: flex;
      .viewExchangeRate {
        display: flex;
        align-items: center;
        margin: 0 15px;
      }
    }
    .buttonUpload {
      .bx--file__selected-file {
        display: none;
      }
      .bx--btn--primary {
        background: linear-gradient(135deg, #0f62fe 0%, #826cfd 100%);
        border-radius: 5px;
        // border: 1px solid rgba(15, 98, 254, 0.6);
        font-weight: 600;
        &:focus {
          outline: none;
          border: none;
        }
      }
    }
    .viewContract {
      display: flex;
      justify-content: center;
      align-items: center;
      &__img {
        width: 60%;
        object-fit: contain;
      }
    }
    .bx--number input[type="number"] {
      color: #000;
      background-color: #fff;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      &:focus {
        outline: none;
      }
    }
  }
  .viewBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__viewTop {
    // display: flex;
    // align-items: center;
    // flex-direction: column;
    &__img {
      width: 160px;
      height: 160px;
      object-fit: contain;
      border-radius: 15px;
      border: 1px solid #ff516b;
    }
    &__text {
      margin-top: 20px;
      width: 55%;
      color: #acacac;
      text-align: justify;
      .addExchangeText {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .containerAddExchange {
    &__viewTop {
      &__text {
        width: 100%;
      }
    }
    .exchangeRateCreateExchange {
      display: block;
      font : {
        size: 14px;
        weight: 600;
      }
      opacity: 0.7;
    }
    .formDataAdd {
      &__row {
        display: flex;
        // flex-direction: column;
        justify-content: space-between;
        .viewExchangeRate {
          display: none;
        }
      }
      .bx--number input[type="number"] {
        width: 95%;
      }
      .bx--number__control-btn {
        display: none;
      }
    }
  }
}
