.containerProfile {
  background-color: transparent;
  min-width: 500px;
  padding: 2rem 1rem;

  .viewMyInfo {
    .viewAvatar {
      width: 100%;
      min-height: 200px;
      text-align: center;
      display: flex;
      background: linear-gradient(to right, #ffbf96, #fe7096);
      background-image: url("../../images/b.png");
      background-position: center; /* Center the image */
      background-size: cover;
      justify-content: center;
      align-items: center;
      margin-bottom: 0.5rem;
      .avatarProfile {
        width: 185px;
        height: 185px;
        border-radius: 95%;
        border: 3px solid #ddd;
        // border-radius: 4px;
      }
    }
    .img {
      /* flip horizontally */
      width: 142px;
      height: 180px;
    }
    .img-scaleX {
      /* flip horizontally */
      width: 142px;
      height: 180px;
      transform: scaleX(-1);
    }

    // Colors
    $color-one: #1f2124;
    $color-two: linear-gradient(to right, #90caf9, #047edf 99%);
    $color-three: #f68657;
    $color-four: #f6b352;

    *,
    *:before,
    *:after {
      box-sizing: border-box;
    }

    body {
      background: $color-two;
      font-family: "Varela Round", sans-serif;
    }

    .card {
      background: linear-gradient(to right, #ffbf96, #fe7096);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      border-radius: 5px;
      // margin: 100px 20px 40px 20px;
      width: calc(33.3333% - 40px); /* 1/3 minus the margins (20+20) */
      padding: 20px;
      text-align: center;
      color: white;
      float: left;
      @media (max-width: 768px) {
        // width: calc(100% - 40px);
      }

      .title {
        font-size: 25px;
      }
      .icon {
        padding: 10px;
        img {
          width: 80px;
          height: 80px;
          path {
            fill: $color-four;
          }
        }
        svg {
          width: 80px;
          height: 80px;
          path {
            fill: $color-four;
          }
        }
      }
      .features {
        ul {
          padding: 0;
          list-style-type: none;
          li {
            font-size: 20px;
            span {
              border-bottom: 2px $color-four;
            }
          }
        }
      }
    }
    .imgReward {
      width: 70px;
      height: 70px;
      padding: 10px;
    }
    .card-2 {
      background: linear-gradient(to right, #ffbf96, #fe7096);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      border-radius: 5px;
      // margin: 80px 20px 20px 20px;
      width: calc(33.3333% - 40px); /* 1/3 minus the margins (20+20) */
      padding: 20px;
      text-align: center;
      color: white;
      float: left;
      @media (max-width: 768px) {
        // margin: 10px 20px;
        width: calc(100% - 40px);
        // &:first-child {
        //   margin-top: 20px;
        // }
      }

      .title {
        font-size: 25px;
      }
      .icon {
        padding: 10px;
        img {
          width: 100px;
          height: 100px;
          path {
            fill: $color-four;
          }
        }
      }
      .features {
        ul {
          padding: 0;
          list-style-type: none;
          li {
            font-size: 20px;
            span {
              border-bottom: 2px $color-four;
            }
          }
          img {
            width: 80px;
            height: 80px;
            path {
              fill: $color-four;
            }
          }
        }
      }
    }

    .viewButtonProfile {
      display: flex;
      justify-content: flex-end;
      margin-top: 0.5rem;
      padding: 0 1rem;
    }
    .info {
      margin: auto;
      margin-top: 10px;
      margin-bottom: 20px;
      background-color: transparent;
      min-width: 70%;
      padding: 2rem 5rem 5rem 5rem;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      border-radius: 5px; /* 5px rounded corners */
      .header {
        width: 100%;
        text-align: center;
        font-size: 25px;
        padding: 10px;
      }
      .header-extra {
        width: 100%;
        text-align: center;
        padding: 10px;
        color: #888;
      }
      .box-info {
        min-width: 500px;
        width: 100%;
        padding-top: 20px;
        justify-content: center;
        text-align: center;
        // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        // transition: 0.3s;
        // border-radius: 3px; /* 5px rounded corners */
        .padding-left {
          padding-left: 20px;
        }
        .avatar-detail {
          width: 30px;
          height: 30px;
          border-radius: 55%;
          border: 1px solid #ddd;
          text-align: right;
          float: right;
          margin-right: 20px;
          // border-radius: 4px;
        }
      }

      .detail {
        font-size: 25px;
        text-align: left;
        padding: 10px;
      }
      .detail-2 {
        padding-top: 50px;
      }
      .detail-extra {
        font-size: 16px;
        text-align: left;
        padding: 10px;
        color: #888;
      }
      .row-info {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 10px;
        text-align: left;
        min-height: 50px;

        border-bottom: #888 solid 1px;
      }
      .row-info-left {
        min-width: 250px;
        text-align: left;
        width: 50%;
        padding-right: 100px;
      }
      .row-info-right {
        min-width: 150px;
        text-align: left;
        padding-left: 50px;
        width: 50%;
      }
      .row-info-row {
        text-align: right;
        float: right;
        width: 50px;
        height: 20px;
        padding-right: 20px;
      }
    }
  }
}

.formData {
  padding: 0rem 1rem;
  .bx--number__control-btn:focus {
    outline: none;
  }
  .bx--fieldset {
    margin-bottom: 0.5rem;
  }
  .bx--text-input {
    &:focus {
      outline: none;
    }
  }

  .bx--date-picker-container {
    width: 100%;
  }

  .bx--date-picker.bx--date-picker--single .bx--date-picker__input {
    width: 100%;
    &:focus {
      outline: none;
    }
  }

  &__avt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    margin-bottom: 1rem;
    position: relative;

    &--img {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
    }
  }
  .customButtonUpload {
    .iconEdit {
      font-size: 13px;
      margin-left: 8px;
    }
    .bx--btn {
      min-height: 20px;
      padding: 0px;
    }
    .bx--btn--primary {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border-radius: 2px solid #fff;
      position: absolute;
      top: -7px;
      right: 37%;
    }
    .bx--file__selected-file {
      display: none;
    }
  }
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__input {
      // width: 90%;
    }
  }
}

@media screen and (min-width: 500px) {
  .formData {
    .bx--fieldset {
      width: 48% !important;
    }
    &__row__profile {
      display: flex;
      flex-direction: row;
    }
  }
}
