.containerProfile {
  background-color: transparent;
  min-width: 500px;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  .viewMyInfo {
    width: 50%;
    height: auto;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 11px #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex-direction: column;
    .avatarProfile {
      height: 90px;
      width: 90px;
      border-radius: 50%;
    }
    .viewTextInfo {
      width: 50%;
      display: flex;
      margin-top: 1rem;
      justify-content: space-between;
      &__key {
        font-size: 16px;
        font-weight: 600;
      }
      &__value {
        font-size: 16px;
      }
    }
  }
  .viewWallet {
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 11px #ececec;
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    .divider {
      margin: 1rem 0px 1rem 0px;
      height: 1px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.1);
    }
    &__title {
      font-size: 1rem;
      color: #333;
      line-height: 1.2;
      font-weight: 500;
    }
    &__subTitle {
      color: #888;
      font-size: 13px;
      font-weight: 600;
    }
  }
}
