.itemSlider {
  background-color: transparent;
  height: 8.5rem;

  &__content {
    box-shadow: 0 0 6px #ececec;
    border-radius: 2px;
    margin: 0px 2.5px;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:hover,
    &:active {
      opacity: 0.5;
    }
  }
}
.slick-slide,
.slick-slide * {
  outline: none !important;
}

.slick-next {
  margin-right: 2rem;
  background-color: transparent;
  width: 30px;
  height: 30px;
  &:hover::before {
    color: #1c2224;
  }
}

.slick-prev {
  margin-left: 2rem;
  background-color: transparent;
  z-index: 1;
  width: 25px;
  height: 30px;
  &:hover::before {
    color: #1c2224;
  }
}

.slick-next::before {
  font-size: 30px;
  color: #dbdbdb;
}

.slick-prev::before {
  font-size: 30px;
  color: #dbdbdb;
}
