.sideBarClose {
  background: linear-gradient(135deg, #ff516b 0%, #826cfd 100%);
  width: 90px;
  height: 100%;
  min-height: 100vh;
  z-index: 400;
  position: fixed;
  .scrollSideMenu {
    height: 95vh;
    overflow-y: scroll;
    border-radius: 0 0 0 6px;
  }
  .scrollSideMenu::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
  }

  .scrollSideMenu::-webkit-scrollbar-track {
    margin: 0 30px;
  }

  .scrollSideMenu::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }
  .scrollSideMenu::-webkit-scrollbar-thumb:vertical {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  &__menu {
    &__itemMenu {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: white;
      text-decoration: none;
      font-weight: 600;
      width: 90px;
      height: 60px;
      .itemMenu__icon {
        font-size: 14px;
      }
      .itemMenu__text {
        margin-top: 5px;
        font-size: 0.65rem;
      }
      &:hover {
        opacity: 0.5;
        background-color: rgba(255, 255, 255, 0.2);
      }
      &--active {
        color: white;
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
    .menuParent {
      padding: 12px 14px;
      height: 60px;
      align-items: center;
      color: white;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      &--iconText {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &:hover,
      &:focus {
        opacity: 0.5;
        background-color: rgba(255, 255, 255, 0.2);
      }
      &__iconChevron {
        margin-left: 0.5rem;
        font-size: 10px;
      }
      &__text {
        margin-top: 5px;
        font-size: 0.65rem;
      }
      &__icon {
        font-size: 14px;
      }
    }
  }
}

.sideBarOpen {
  background: linear-gradient(135deg, #ff516b 0%, #826cfd 100%);
  width: 225px;
  height: 100%;
  min-height: 100vh;
  z-index: 400;
  position: fixed;
  .scrollSideMenu {
    height: 95vh;
    overflow-y: scroll;
    border-radius: 0 0 0 6px;
  }
  .scrollSideMenu::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
  }

  .scrollSideMenu::-webkit-scrollbar-track {
    margin: 0 30px;
  }

  .scrollSideMenu::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }
  .scrollSideMenu::-webkit-scrollbar-thumb:vertical {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  &__menu {
    &__itemMenu {
      display: flex;
      align-items: center;
      flex-direction: row;
      color: white;
      text-decoration: none;
      font-weight: 600;
      width: 225px;
      height: 60px;
      padding: 12px 14px;
      .itemMenu__icon {
        font-size: 14px;
      }
      .itemMenu__text {
        font-size: 13px;
        margin-left: 11px;
      }
      &:hover {
        opacity: 0.5;
        background-color: rgba(255, 255, 255, 0.2);
      }
      &--active {
        color: white;
        background-color: rgba(255, 255, 255, 0.2);
        width: 225px;
      }
    }
    .isSubMenu {
      margin-left: 1rem;
    }
    .menuParent {
      padding: 12px 14px;
      height: 60px;
      align-items: center;
      color: white;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      &--iconText {
        display: flex;
        align-items: center;
      }
      &:hover,
      &:focus {
        opacity: 0.5;
        background-color: rgba(255, 255, 255, 0.2);
      }
      &__iconChevron {
        font-size: 10px;
      }
      &__text {
        display: block;
        margin-left: 11px;
      }
      &__icon {
        font-size: 14px;
      }
    }
  }
}
