.container__detail {
  padding: 2rem;
  min-height: 100vh;
  .viewAds {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 2rem;
    .contentAds {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 85%;
    }
    &__img {
      width: 100%;
      height: auto;
      max-height: 230px;
      // object-fit: contain;
      cursor: pointer;
    }
  }
  .detail__viewRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .rightList {
      width: 31%;
      border-radius: 2px;
      background-color: #fff;
      box-shadow: 0 0 11px #ececec;
      min-height: 315px;
    }
    .viewLeft {
      min-height: 50vh;
      width: 65%;
      background-color: transparent;
      .box {
        width: 100%;
        height: auto;
        padding: 15px;
        border-radius: 2px;
        box-shadow: 0 0 11px #ececec;
        background-color: #fff;
      }
      .boxName {
        &__textName {
          font-size: 18px;
          // font-weight: 500;
          line-height: 1.2;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2; /* number of lines to show */
          -webkit-box-orient: vertical;
        }
        &__textViews {
          font-size: 13px;
          color: #888;
        }
      }
      .boxInfoChanel {
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &__rightContent {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
        &__avatar {
          width: 38px;
          height: 38px;
          border-radius: 50%;
          display: inline-block;
          margin-right: 1rem;
        }
        &__name {
          color: #ff516b;
          font-size: 13px;
          font-weight: 600;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .container__detail {
    padding: 2rem;
    min-height: 100vh;
    .detail__viewRow {
      display: flex;
      flex-direction: column;
      .rightList {
        margin-top: 2rem;
        width: 100%;
        border-radius: 2px;
        background-color: #fff;
        box-shadow: 0 0 11px #ececec;
      }
      .viewLeft {
        min-height: 50vh;
        width: 100%;
        background-color: transparent;
      }
    }
  }
}
